<h1> <%= pluralize(@vehicles.size, "Vehicle") %> in Inventory</h1>
<ul>
  <% @vehicles.each do |vehicle| %>
    <h3><%= link_to(vehicle.title, vehicle_path(vehicle)) %></h3>
    <li><%= vehicle.miles %></li>
    <li><%= format_price(vehicle) %></li>
    <li> Arrived on lot <%= vehicle.days_on_lot %> days ago</li>
  <% end %>
</ul>

